.bookContainer {
    margin-top: 50px;
    text-align: left;
}

.bookContainer .fieldName{
    font-weight: bold;
}

.MuiRating-label {
    color: #e2ba7f;
    font-size: 25px;
}

.MuiBox-root{
    font-size: 17px;
}

.MuiRating-root.Mui-disabled{
    opacity: 1!important;
}

.collection {
    border: none;
}

.collection-item {
    margin-top: 15px !important;
}

.recommend-book{
    vertical-align: middle;
    margin-top: 35px;
}

.users li {
    cursor: pointer;
}