.catalog .card-title {
    /* width: 308px; */
    display: inline-block !important;
}

.catalog .card-image img{
    height:192px !important;
}

.catalog .card-action a {
    color: #34b3ac !important;
}

.catalog .noResult {
    margin-top: 120px;
    font-size: 30px;
}

.addFavorite {
    color: #d32f30 !important;
    position: absolute;
    left: 85%;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.addFavorite:hover{
    background-color: transparent;
}

.tooltipped {
    cursor: pointer;
}

.check {
    vertical-align: middle;
    right: 25px;
    bottom: 3px;
    position: relative;
    color: #34b3ac;
}