@font-face {
  font-family: blackword;
  src: url(./fonts/Averta/AvertaDemoPE-Regular.woff);
}

*{
 font-family: blackword; 
}

.nav-wrapper ul li{
  font-size: 20px !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  background-color: #3aafa9;
}

nav .brand-logo {
  position: relative;
}

.notifications{
  position: absolute;
  width: 350px;
  max-height:500px;
  overflow: auto;
  left: 20px;
  background-color: #d2e2e1;
  z-index: 999;
}

.notifications h5{
  font-weight: bold;
}

#closeNotifications{
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
